body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ledInfo {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
}

.dashboard{
    margin-top: 2%;
    margin-bottom: 2%;
}

body {
    background-color: #F2F3F4;
}

.dashboard .tableElement {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.border-raduis {
    border: 1px solid;
    border-radius: .5em;
    font-size: 1.0625rem;
    margin: 1.5rem 0;
    padding: 0.75em 0rem 0.75rem 0.75rem!important;
}

.warning-border {
    border-color: orangered;
    color: orangered;
}

.radio-inline {
    margin-right: 2rem;
}

.state-box-col {
    margin-left: 2rem!important;
}
.element-with-state-box {
    margin-left: 0!important;
    margin-bottom: 0.75rem;
}

.low-margin-bottom {
    margin-bottom: 7px !important;
}