body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F2F3F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ledInfo {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
}

.ledText {
    margin-left: 1rem;
}

.dashboard{
    margin-top: 2%;
    margin-bottom: 2%;
}

.dashboard .tableElement {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.low-margin-bottom {
    margin-bottom: 7px !important;
}

.inline-content {
    display: inline-flex;
}

.fadeIn{
    opacity:1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.wow{
    visibility: hidden;
}

.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}

.imgPreview img {
    width: 100%;
    height: 100%;
}

.low-margin-left{
    margin-left: 25px;
}

.mid-margin-top{
    margin-top: 25px;
}

.sidenav-fixed{
    top: inherit;
    padding-bottom: 120px;
}

main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 0;
    }
}

.cours-nav-row{
    padding: 0px!important;
}

.nav-cours-margin-left{
    margin-left: 35px!important;
}

.no-margin-bottom {
   margin-bottom: 0px;
}

.nav-item-title{
    font-size: 20px;
}

.waves-effect {
    display: inherit;
}

.bg-white{
    background-color: white;
}